@charset "UTF-8";
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/*
 * ImageHover.css - http://www.imagehover.io
 * Version 1.0
 * Author: Ciarán Walsh

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 */
/* line 30, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/imagehover.scss */
[class^='imghvr-'], [class*=' imghvr-'] {
  position: relative;
  display: inline-block;
  margin: 0px;
  max-width: 100%;
  background-color: #2266a5;
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  /* line 42, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/imagehover.scss */
  [class^='imghvr-'] > img, [class*=' imghvr-'] > img {
    vertical-align: top;
    max-width: 100%; }
  /* line 46, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/imagehover.scss */
  [class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {
    background-color: #135796;
    position: absolute;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff; }
    /* line 52, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/imagehover.scss */
    [class^='imghvr-'] figcaption h1, [class^='imghvr-'] figcaption h2, [class^='imghvr-'] figcaption h3, [class^='imghvr-'] figcaption h4, [class^='imghvr-'] figcaption h5, [class^='imghvr-'] figcaption h6, [class*=' imghvr-'] figcaption h1, [class*=' imghvr-'] figcaption h2, [class*=' imghvr-'] figcaption h3, [class*=' imghvr-'] figcaption h4, [class*=' imghvr-'] figcaption h5, [class*=' imghvr-'] figcaption h6 {
      color: #ffffff; }
  /* line 56, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/imagehover.scss */
  [class^='imghvr-'] a, [class*=' imghvr-'] a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }

/* line 62, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/imagehover.scss */
[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before,
[class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after,
[class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before,
[class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }

/* imghvr-fade-*
   ----------------------------- */
/* line 4, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fade.scss */
[class^='imghvr-fade'] figcaption, [class*=' imghvr-fade'] figcaption {
  opacity: 0; }

/* line 8, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fade.scss */
[class^='imghvr-fade']:hover > img, [class*=' imghvr-fade']:hover > img {
  opacity: 0; }

/* line 11, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fade.scss */
[class^='imghvr-fade']:hover figcaption, [class*=' imghvr-fade']:hover figcaption {
  opacity: 1; }

/* line 14, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fade.scss */
[class^='imghvr-fade']:hover > img, [class^='imghvr-fade']:hover figcaption, [class*=' imghvr-fade']:hover > img, [class*=' imghvr-fade']:hover figcaption {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

/* imghvr-fade
   ----------------------------- */
/* imghvr-fade-in-up
   ----------------------------- */
/* line 28, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fade.scss */
.imghvr-fade-in-up figcaption {
  -webkit-transform: translate(0, 15%);
  transform: translate(0, 15%); }

/* imghvr-fade-in-down
   ----------------------------- */
/* line 35, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fade.scss */
.imghvr-fade-in-down figcaption {
  -webkit-transform: translate(0, -15%);
  transform: translate(0, -15%); }

/* imghvr-fade-in-left
   ----------------------------- */
/* line 42, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fade.scss */
.imghvr-fade-in-left figcaption {
  -webkit-transform: translate(-15%, 0);
  transform: translate(-15%, 0); }

/* imghvr-fade-in-right
   ----------------------------- */
/* line 49, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fade.scss */
.imghvr-fade-in-right figcaption {
  -webkit-transform: translate(15%, 0);
  transform: translate(15%, 0); }

/* imghvr-push-*
   ----------------------------- */
/* line 5, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
[class^='imghvr-push-']:hover figcaption, [class*=' imghvr-push-']:hover figcaption {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

/* imghvr-push-up
   ----------------------------- */
/* line 13, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
.imghvr-push-up figcaption {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

/* line 17, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
.imghvr-push-up:hover > img {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

/* imghvr-push-down
   ----------------------------- */
/* line 25, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
.imghvr-push-down figcaption {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

/* line 29, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
.imghvr-push-down:hover > img {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

/* imghvr-push-left
   ----------------------------- */
/* line 38, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
.imghvr-push-left figcaption {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

/* line 42, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
.imghvr-push-left:hover > img {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

/* imghvr-push--right
   ----------------------------- */
/* line 50, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
.imghvr-push-right figcaption {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

/* line 54, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-push.scss */
.imghvr-push-right:hover > img {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

/* imghvr-slide-*
   ----------------------------- */
/* line 5, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
[class^='imghvr-slide-']:hover figcaption, [class*=' imghvr-slide-']:hover figcaption {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

/* imghvr-slide-up
   ----------------------------- */
/* line 13, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
.imghvr-slide-up figcaption {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

/* imghvr-slide-down
   ----------------------------- */
/* line 20, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
.imghvr-slide-down figcaption {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

/* imghvr-slide-left
   ----------------------------- */
/* line 27, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
.imghvr-slide-left figcaption {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

/* imghvr-slide-right
   ----------------------------- */
/* line 34, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
.imghvr-slide-right figcaption {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

/* imghvr-slide-top-left
   ----------------------------- */
/* line 41, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
.imghvr-slide-top-left figcaption {
  -webkit-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%); }

/* imghvr-slide-top-right
   ----------------------------- */
/* line 48, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
.imghvr-slide-top-right figcaption {
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%); }

/* imghvr-slide-bottom-left
   ----------------------------- */
/* line 55, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
.imghvr-slide-bottom-left figcaption {
  -webkit-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%); }

/* imghvr-slide-bottom-right
   ----------------------------- */
/* line 62, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-slide.scss */
.imghvr-slide-bottom-right figcaption {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%); }

/* imghvr-reveal-*
   ----------------------------- */
/* line 4, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
[class^='imghvr-reveal-']:before, [class*=' imghvr-reveal-']:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #135796; }

/* line 9, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
[class^='imghvr-reveal-'] figcaption, [class*=' imghvr-reveal-'] figcaption {
  opacity: 0; }

/* line 13, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
[class^='imghvr-reveal-']:hover:before, [class*=' imghvr-reveal-']:hover:before {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

/* line 16, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
[class^='imghvr-reveal-']:hover figcaption, [class*=' imghvr-reveal-']:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s; }

/* imghvr-reveal-up
   ----------------------------- */
/* line 25, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
.imghvr-reveal-up:before {
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

/* imghvr-reveal-down
   ----------------------------- */
/* line 32, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
.imghvr-reveal-down:before {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

/* imghvr-reveal-left
   ----------------------------- */
/* line 39, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
.imghvr-reveal-left:before {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

/* imghvr-reveal-right
   ----------------------------- */
/* line 46, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
.imghvr-reveal-right:before {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

/* imghvr-reveal-top-left
   ----------------------------- */
/* line 54, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
.imghvr-reveal-top-left:before {
  -webkit-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%); }

/* imghvr-reveal-top-right
   ----------------------------- */
/* line 61, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
.imghvr-reveal-top-right:before {
  -webkit-transform: translate(100%, -100%);
  transform: translate(100%, -100%); }

/* imghvr-reveal-bottom-left
   ----------------------------- */
/* line 68, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
.imghvr-reveal-bottom-left:before {
  -webkit-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%); }

/* imghvr-reveal-bottom-right
   ----------------------------- */
/* line 75, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-reveal.scss */
.imghvr-reveal-bottom-right:before {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%); }

/* imghvr-hinge-*
   ----------------------------- */
/* line 3, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
[class^='imghvr-hinge-'], [class*=' imghvr-hinge-'] {
  -webkit-perspective: 50em;
  perspective: 50em; }
  /* line 5, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
  [class^='imghvr-hinge-'] figcaption, [class*=' imghvr-hinge-'] figcaption {
    opacity: 0;
    z-index: 1; }
  /* line 10, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
  [class^='imghvr-hinge-']:hover img, [class*=' imghvr-hinge-']:hover img {
    opacity: 0; }
  /* line 13, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
  [class^='imghvr-hinge-']:hover figcaption, [class*=' imghvr-hinge-']:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    transition-delay: 0.21s; }

/* imghvr-hinge-up
   ----------------------------- */
/* line 22, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-up img {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

/* line 25, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-up figcaption {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

/* line 30, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-up:hover > img {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg); }

/* line 33, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-up:hover figcaption {
  -webkit-transform: rotateX(0);
  transform: rotateX(0); }

/* imghvr-hinge-down
   ----------------------------- */
/* line 41, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-down img {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

/* line 44, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-down figcaption {
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  transform-origin: 50% -50%; }

/* line 49, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-down:hover > img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0; }

/* line 52, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-down:hover figcaption {
  -webkit-transform: rotateX(0);
  transform: rotateX(0); }

/* imghvr-hinge-left
   ----------------------------- */
/* line 60, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-left img {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

/* line 63, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-left figcaption {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%; }

/* line 68, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-left:hover > img {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg); }

/* line 71, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-left:hover figcaption {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }

/* imghvr-hinge-right
   ----------------------------- */
/* line 79, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-right img {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%; }

/* line 82, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-right figcaption {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%; }

/* line 87, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-right:hover > img {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg); }

/* line 90, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-hinge.scss */
.imghvr-hinge-right:hover figcaption {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }

/* imghvr-flip-*
   ----------------------------- */
/* line 3, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
[class^='imghvr-flip-'], [class*=' imghvr-flip-'] {
  -webkit-perspective: 50em;
  perspective: 50em; }
  /* line 5, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
  [class^='imghvr-flip-'] img, [class*=' imghvr-flip-'] img {
    backface-visibility: hidden; }
  /* line 8, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
  [class^='imghvr-flip-'] figcaption, [class*=' imghvr-flip-'] figcaption {
    opacity: 0; }
  /* line 12, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
  [class^='imghvr-flip-']:hover > img, [class*=' imghvr-flip-']:hover > img {
    opacity: 0; }
  /* line 15, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
  [class^='imghvr-flip-']:hover figcaption, [class*=' imghvr-flip-']:hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s; }

/* imghvr-flip-horiz
   ----------------------------- */
/* line 24, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-horiz figcaption {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

/* line 29, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-horiz:hover img {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg); }

/* line 32, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-horiz:hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

/* imghvr-flip-vert
   ----------------------------- */
/* line 40, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-vert figcaption {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

/* line 45, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-vert:hover > img {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

/* line 48, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-vert:hover figcaption {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

/* imghvr-flip-diag-1
   ----------------------------- */
/* line 56, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-diag-1 figcaption {
  -webkit-transform: rotate3d(1, -1, 0, 100deg);
  transform: rotate3d(1, -1, 0, 100deg); }

/* line 60, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-diag-1:hover > img {
  -webkit-transform: rotate3d(-1, 1, 0, 100deg);
  transform: rotate3d(-1, 1, 0, 100deg); }

/* line 63, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-diag-1:hover figcaption {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg); }

/* imghvr-flip-diag-2
   ----------------------------- */
/* line 71, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-diag-2 figcaption {
  -webkit-transform: rotate3d(1, 1, 0, 100deg);
  transform: rotate3d(1, 1, 0, 100deg); }

/* line 75, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-diag-2:hover > img {
  -webkit-transform: rotate3d(-1, -1, 0, 100deg);
  transform: rotate3d(-1, -1, 0, 100deg); }

/* line 78, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-flip.scss */
.imghvr-flip-diag-2:hover figcaption {
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg); }

/* imghvr-shutter-out-*
   ----------------------------- */
/* line 4, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
[class^='imghvr-shutter-out-']:before, [class*=' imghvr-shutter-out-']:before {
  background: #135796;
  position: absolute;
  content: '';
  -webkit-transition-delay: 0.105s;
  transition-delay: 0.105s; }

/* line 10, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
[class^='imghvr-shutter-out-'] figcaption, [class*=' imghvr-shutter-out-'] figcaption {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

/* line 15, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
[class^='imghvr-shutter-out-']:hover:before, [class*=' imghvr-shutter-out-']:hover:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

/* line 18, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
[class^='imghvr-shutter-out-']:hover figcaption, [class*=' imghvr-shutter-out-']:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.105s;
  transition-delay: 0.105s; }

/* imghvr-shutter-out-horiz
   ----------------------------- */
/* line 27, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
.imghvr-shutter-out-horiz:before {
  left: 50%;
  right: 50%;
  top: 0;
  bottom: 0; }

/* line 34, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
.imghvr-shutter-out-horiz:hover:before {
  left: 0;
  right: 0; }

/* imghvr-shutter-out-vert
   ----------------------------- */
/* line 43, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
.imghvr-shutter-out-vert:before {
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0; }

/* line 50, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
.imghvr-shutter-out-vert:hover:before {
  top: 0;
  bottom: 0; }

/* imghvr-shutter-out-diag-1
   ----------------------------- */
/* line 59, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
.imghvr-shutter-out-diag-1:before {
  top: 50%;
  bottom: 50%;
  left: -35%;
  right: -35%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 67, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
.imghvr-shutter-out-diag-1:hover:before {
  top: -35%;
  bottom: -35%; }

/* imghvr-shutter-out-diag-2
   ----------------------------- */
/* line 76, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
.imghvr-shutter-out-diag-2:before {
  top: 50%;
  bottom: 50%;
  left: -35%;
  right: -35%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 84, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-out.scss */
.imghvr-shutter-out-diag-2:hover:before {
  top: -35%;
  bottom: -35%; }

/* imghvr-shutter-in-*
   ----------------------------- */
/* line 4, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
[class^='imghvr-shutter-in-']:after, [class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:before {
  background: #135796;
  position: absolute;
  content: ''; }

/* line 9, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
[class^='imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:after {
  top: 0;
  left: 0; }

/* line 13, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
[class^='imghvr-shutter-in-']:before, [class*=' imghvr-shutter-in-']:before {
  right: 0;
  bottom: 0; }

/* line 17, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
[class^='imghvr-shutter-in-'] figcaption, [class*=' imghvr-shutter-in-'] figcaption {
  opacity: 0;
  z-index: 1; }

/* line 22, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
[class^='imghvr-shutter-in-']:hover figcaption, [class*=' imghvr-shutter-in-']:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s; }

/* imghvr-shutter-in-horiz
   ----------------------------- */
/* line 31, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-horiz:after, .imghvr-shutter-in-horiz:before {
  width: 0;
  height: 100%; }

/* line 36, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-horiz:hover:after, .imghvr-shutter-in-horiz:hover:before {
  width: 50%; }

/* imghvr-shutter-in-vert
   ----------------------------- */
/* line 44, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-vert:after, .imghvr-shutter-in-vert:before {
  height: 0;
  width: 100%; }

/* line 49, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-vert:hover:after, .imghvr-shutter-in-vert:hover:before {
  height: 50%; }

/* imghvr-shutter-in-out-horiz
   ----------------------------- */
/* line 57, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-horiz:after, .imghvr-shutter-in-out-horiz:before {
  width: 0;
  height: 100%;
  opacity: 0.75; }

/* line 63, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-horiz:hover:after, .imghvr-shutter-in-out-horiz:hover:before {
  width: 100%; }

/* imghvr-shutter-in-out-vert
   ----------------------------- */
/* line 71, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-vert:after, .imghvr-shutter-in-out-vert:before {
  height: 0;
  width: 100%;
  opacity: 0.75; }

/* line 77, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-vert:hover:after, .imghvr-shutter-in-out-vert:hover:before {
  height: 100%; }

/* imghvr-shutter-in-out-diag-1
   ----------------------------- */
/* line 85, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-1:after, .imghvr-shutter-in-out-diag-1:before {
  width: 200%;
  height: 200%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0.75; }

/* line 91, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-1:after {
  -webkit-transform: skew(-45deg) translateX(-150%);
  transform: skew(-45deg) translateX(-150%); }

/* line 94, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-1:before {
  -webkit-transform: skew(-45deg) translateX(150%);
  transform: skew(-45deg) translateX(150%); }

/* line 98, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-1:hover:after {
  -webkit-transform: skew(-45deg) translateX(-50%);
  transform: skew(-45deg) translateX(-50%); }

/* line 101, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-1:hover:before {
  -webkit-transform: skew(-45deg) translateX(50%);
  transform: skew(-45deg) translateX(50%); }

/* imghvr-shutter-in-out-diag-2
   ----------------------------- */
/* line 109, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-2:after, .imghvr-shutter-in-out-diag-2:before {
  width: 200%;
  height: 200%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0.75; }

/* line 115, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-2:after {
  -webkit-transform: skew(45deg) translateX(-100%);
  transform: skew(45deg) translateX(-100%); }

/* line 118, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-2:before {
  -webkit-transform: skew(45deg) translateX(100%);
  transform: skew(45deg) translateX(100%); }

/* line 122, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-2:hover:after {
  -webkit-transform: skew(45deg) translateX(0%);
  transform: skew(45deg) translateX(0%); }

/* line 125, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-shutter-in.scss */
.imghvr-shutter-in-out-diag-2:hover:before {
  -webkit-transform: skew(45deg) translateX(0%);
  transform: skew(45deg) translateX(0%); }

/* imghvr-fold*
   ----------------------------- */
/* line 3, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
[class^='imghvr-fold'], [class*=' imghvr-fold'] {
  -webkit-perspective: 50em;
  perspective: 50em; }
  /* line 5, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
  [class^='imghvr-fold'] img, [class*=' imghvr-fold'] img {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%; }
  /* line 8, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
  [class^='imghvr-fold'] figcaption, [class*=' imghvr-fold'] figcaption {
    z-index: 1;
    opacity: 0; }
  /* line 13, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
  [class^='imghvr-fold']:hover > img, [class*=' imghvr-fold']:hover > img {
    opacity: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0; }
  /* line 17, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
  [class^='imghvr-fold']:hover figcaption, [class*=' imghvr-fold']:hover figcaption {
    -webkit-transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    transform: rotateX(0) translate3d(0, 0%, 0) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.21s;
    transition-delay: 0.21s; }

/* imghvr-fold-up
   ----------------------------- */
/* line 27, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-up > img {
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

/* line 30, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-up figcaption {
  -webkit-transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
  transform: rotateX(-90deg) translate3d(0%, -50%, 0) scale(0.6);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

/* line 35, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-up:hover > img {
  -webkit-transform: rotateX(90deg) scale(0.6) translateY(50%);
  transform: rotateX(90deg) scale(0.6) translateY(50%); }

/* imghvr-fold-down
   ----------------------------- */
/* line 43, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-down > img {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

/* line 46, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-down figcaption {
  -webkit-transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
  transform: rotateX(90deg) translate3d(0%, 50%, 0) scale(0.6);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

/* line 51, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-down:hover > img {
  -webkit-transform: rotateX(-90deg) scale(0.6) translateY(-50%);
  transform: rotateX(-90deg) scale(0.6) translateY(-50%); }

/* imghvr-fold-left
   ----------------------------- */
/* line 59, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-left > img {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

/* line 62, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-left figcaption {
  -webkit-transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
  transform: rotateY(90deg) translate3d(-50%, 0%, 0) scale(0.6);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%; }

/* line 67, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-left:hover > img {
  -webkit-transform: rotateY(-90deg) scale(0.6) translateX(50%);
  transform: rotateY(-90deg) scale(0.6) translateX(50%); }

/* imghvr-fold-right
   ----------------------------- */
/* line 75, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-right > img {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%; }

/* line 78, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-right figcaption {
  -webkit-transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
  transform: rotateY(-90deg) translate3d(50%, 0%, 0) scale(0.6);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%; }

/* line 83, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-fold.scss */
.imghvr-fold-right:hover > img {
  -webkit-transform: rotateY(90deg) scale(0.6) translateX(-50%);
  transform: rotateY(90deg) scale(0.6) translateX(-50%); }

/* imghvr-zoom-in
   ----------------------------- */
/* line 4, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-in.scss */
.imghvr-zoom-in figcaption {
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

/* line 9, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-in.scss */
.imghvr-zoom-in:hover figcaption {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

/* imghvr-zoom-out*
   ----------------------------- */
/* line 6, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
[class^='imghvr-zoom-out'] figcaption, [class*=' imghvr-zoom-out'] figcaption {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0; }

/* line 12, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
[class^='imghvr-zoom-out']:hover figcaption, [class^='imghvr-zoom-out'].hover figcaption, [class*=' imghvr-zoom-out']:hover figcaption, [class*=' imghvr-zoom-out'].hover figcaption {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s; }

/* imghvr-zoom-out
   ----------------------------- */
/* line 23, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
.imghvr-zoom-out:hover > img {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0; }

/* imghvr-zoom-out-up
   ----------------------------- */
/* line 33, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
.imghvr-zoom-out-up:hover > img, .imghvr-zoom-out-up.hover > img {
  -webkit-animation: imghvr-zoom-out-up 0.4025s linear;
  animation: imghvr-zoom-out-up 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes imghvr-zoom-out-up {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(0.8) translateY(-150%);
    transform: scale(0.8) translateY(-150%);
    opacity: 0.5; } }

@keyframes imghvr-zoom-out-up {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(0.8) translateY(-150%);
    transform: scale(0.8) translateY(-150%);
    opacity: 0.5; } }

/* imghvr-zoom-out-down
   ----------------------------- */
/* line 70, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
.imghvr-zoom-out-down:hover > img, .imghvr-zoom-out-down.hover > img {
  -webkit-animation: imghvr-zoom-out-down 0.4025s linear;
  animation: imghvr-zoom-out-down 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes imghvr-zoom-out-down {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(0.8) translateY(150%);
    transform: scale(0.8) translateY(150%);
    opacity: 0.5; } }

@keyframes imghvr-zoom-out-down {
  50% {
    -webkit-transform: scale(0.8) translateY(0%);
    transform: scale(0.8) translateY(0%);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(0.8) translateY(150%);
    transform: scale(0.8) translateY(150%);
    opacity: 0.5; } }

/* imghvr-zoom-out-left
   ----------------------------- */
/* line 107, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
.imghvr-zoom-out-left:hover > img, .imghvr-zoom-out-left.hover > img {
  -webkit-animation: imghvr-zoom-out-left 0.4025s linear;
  animation: imghvr-zoom-out-left 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes imghvr-zoom-out-left {
  50% {
    -webkit-transform: scale(0.8) translateX(0%);
    transform: scale(0.8) translateX(0%);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(0.8) translateX(-150%);
    transform: scale(0.8) translateX(-150%);
    opacity: 0.5; } }

@keyframes imghvr-zoom-out-left {
  50% {
    -webkit-transform: scale(0.8) translateX(0%);
    transform: scale(0.8) translateX(0%);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(0.8) translateX(-150%);
    transform: scale(0.8) translateX(-150%);
    opacity: 0.5; } }

/* imghvr-zoom-out-right
   ----------------------------- */
/* line 144, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
.imghvr-zoom-out-right:hover > img, .imghvr-zoom-out-right.hover > img {
  -webkit-animation: imghvr-zoom-out-right 0.4025s linear;
  animation: imghvr-zoom-out-right 0.4025s linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes imghvr-zoom-out-right {
  50% {
    -webkit-transform: scale(0.8) translateX(0%);
    transform: scale(0.8) translateX(0%);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(0.8) translateX(150%);
    transform: scale(0.8) translateX(150%);
    opacity: 0.5; } }

@keyframes imghvr-zoom-out-right {
  50% {
    -webkit-transform: scale(0.8) translateX(0%);
    transform: scale(0.8) translateX(0%);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(0.8) translateX(150%);
    transform: scale(0.8) translateX(150%);
    opacity: 0.5; } }

/* imghvr-zoom-out-flip-horiz
   ----------------------------- */
/* line 179, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
.imghvr-zoom-out-flip-horiz {
  -webkit-perspective: 50em;
  perspective: 50em; }
  /* line 181, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
  .imghvr-zoom-out-flip-horiz figcaption {
    opacity: 0;
    -webkit-transform: rotateX(90deg) translateY(-100%) scale(0.5);
    transform: rotateX(90deg) translateY(-100%) scale(0.5); }
  /* line 186, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
  .imghvr-zoom-out-flip-horiz:hover > img, .imghvr-zoom-out-flip-horiz.hover > img {
    -webkit-transform: rotateX(-100deg) translateY(50%) scale(0.5);
    transform: rotateX(-100deg) translateY(50%) scale(0.5);
    opacity: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0; }
  /* line 191, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
  .imghvr-zoom-out-flip-horiz:hover figcaption, .imghvr-zoom-out-flip-horiz.hover figcaption {
    -webkit-transform: rotateX(0) translateY(0%) scale(1);
    transform: rotateX(0) translateY(0%) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s; }

/* imghvr-zoom-out-flip-vert
   ----------------------------- */
/* line 200, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
.imghvr-zoom-out-flip-vert {
  -webkit-perspective: 50em;
  perspective: 50em; }
  /* line 202, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
  .imghvr-zoom-out-flip-vert figcaption {
    opacity: 0;
    -webkit-transform: rotateY(90deg) translate(50%, 0) scale(0.5);
    transform: rotateY(90deg) translate(50%, 0) scale(0.5); }
  /* line 207, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
  .imghvr-zoom-out-flip-vert:hover > img, .imghvr-zoom-out-flip-vert.hover > img {
    -webkit-transform: rotateY(-100deg) translateX(50%) scale(0.5);
    transform: rotateY(-100deg) translateX(50%) scale(0.5);
    opacity: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0; }
  /* line 212, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-zoom-out.scss */
  .imghvr-zoom-out-flip-vert:hover figcaption, .imghvr-zoom-out-flip-vert.hover figcaption {
    -webkit-transform: rotateY(0) translate(0, 0) scale(1);
    transform: rotateY(0) translate(0, 0) scale(1);
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s; }

/* imghvr-blur
   ----------------------------- */
/* line 4, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-blur.scss */
.imghvr-blur figcaption {
  opacity: 0; }

/* line 8, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-blur.scss */
.imghvr-blur:hover > img {
  -webkit-filter: blur(30px);
  filter: blur(30px);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0; }

/* line 13, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/effects/_imghvr-blur.scss */
.imghvr-blur:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s; }

/* line 1, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
body {
  background-image: url("../images/fundo-geral.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000;
  background-attachment: fixed;
  background-size: cover; }

/* line 11, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
.portfolio ul {
  margin-left: -15px;
  margin-right: -15px;
  margin: 10px auto 0 auto; }
  /* line 20, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/bourbon/addons/_clearfix.scss */
  .portfolio ul::after {
    clear: both;
    content: "";
    display: table; }
  /* line 20, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/bower_components/imagehover.css/scss/bourbon/addons/_clearfix.scss */
  .portfolio ul::after {
    clear: both;
    content: "";
    display: table; }
  /* line 15, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
  .portfolio ul li {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      /* line 15, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
      .portfolio ul li {
        float: left;
        width: 33.33333%; } }
    /* line 21, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
    .portfolio ul li figure {
      position: relative;
      background: white; }
      /* line 26, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
      .portfolio ul li figure:hover a {
        opacity: 1;
        filter: alpha(opacity=100); }
      /* line 28, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
      .portfolio ul li figure:hover .overlay {
        top: 0; }
      /* line 31, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
      .portfolio ul li figure img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
        height: 100%; }
      /* line 37, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
      .portfolio ul li figure figcaption a {
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        z-index: 2;
        color: white;
        width: 100%;
        top: 50%;
        opacity: 0;
        filter: alpha(opacity=0); }
        /* line 47, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
        .portfolio ul li figure figcaption a h3 {
          font-size: 22px;
          font-size: 1.375rem;
          font-weight: 700;
          margin: 0; }
        /* line 52, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
        .portfolio ul li figure figcaption a p {
          font-size: 18px;
          font-size: 1.125rem; }
      /* line 55, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
      .portfolio ul li figure figcaption a,
      .portfolio ul li figure figcaption .overlay {
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      /* line 59, C:/Users/Ellifaz Siqueira/Documents/Sites/Site ELF/site-elf/sass/templates/_portfolio.sass */
      .portfolio ul li figure figcaption .overlay {
        background-color: #444652;
        background-image: -webkit-gradient(linear, 60deg, from(#3884c3), to(#444652));
        background-image: -webkit-linear-gradient(60deg, #3884c3, #444652);
        background-image: -moz-linear-gradient(60deg, #3884c3, #444652);
        background-image: -ms-linear-gradient(60deg, #3884c3, #444652);
        background-image: -o-linear-gradient(60deg, #3884c3, #444652);
        background-image: linear-gradient(60deg, #3884c3, #444652);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#3884c3', EndColorStr='#444652');
        opacity: 0.8;
        filter: alpha(opacity=80);
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%; }

/*# sourceMappingURL=portfolio.css.map */